# CI4
/vendor/
/writable/cache/*
!/writable/cache/.gitkeep

/writable/logs/*
!/writable/logs/.gitkeep

/writable/session/*
!/writable/session/.gitkeep

/writable/uploads/*
!/writable/uploads/.gitkeep

# Environment
.env

# Agent
.agents
skills-lock.json